.matToolbar {
  background-color: #460073;
  color: whitesmoke;
  max-height: 25px !important;
}

a:hover {
    color: whitesmoke;
}

a {
    color: #7400c3;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
